@page "/"
@inject Data.Models.BarCode barcode
<div class="row bg-light">
    <div class="form-group">
        <label for="Description">Bar Code</label>

    </div>
    <div class="text-center p-3 mb-3">
        <input type="text" id="Description" class="form-control" @bind="@barcode.Code" />
        <a href="/home">Scan</a>
    </div>
</div>

@code {

}
