<div class="container" style="height:600px; overflow:scroll; overflow-x:hidden">
    <div class="row">
        <p>@MovieId</p>
    </div>
</div>

@code {
    [Parameter]
    public int MovieId { get; set; }


}