@page "/test"
@inject GymServices service
<select class="form-control" @bind="@SelectedCountryID">
    @foreach (var client in Clients)
    {
        <option value="@client.ClientId"> @client.Name </option>
    }
    }
</select>
<p>Selected: @SelectedCountryID</p>
@code {
    string SelectedCountryID { get; set; }
    List<Data.Models.Client> Clients = new List<Data.Models.Client>();
    protected override async Task OnInitializedAsync()
    {
        await RefreshClients();


    }

    private async Task RefreshClients()
    {
        Clients = await service.GetClientAsync();
    }
}

