
@page "/test"
<div class="row bg-light">
    <div class="text-center p-3 mb-3">
        <label style="font-size:20px;" for="Description">Data On Page:</label>
    </div>
    <div class="text-center p-3 mb-3">
        <select class="form-control" @bind="@Page">
            <option style="font-size:20px;" value="5">5</option>
            <option style="font-size:20px;" value="10">10</option>
            <option style="font-size:20px;" value="50">50</option>
            <option style="font-size:20px;" value="100">100</option>
        </select>
    </div>
</div>


@code
        {
    int Page { get; set; }

}
